
ion-content {
	--background: #111;
}

h2, h3, .table-header strong {
	color: #fff !important;
}

.table-header {
	background: #222;
	border-bottom: 2px solid #43e36a;
}

ion-row {
	border-bottom: 1px solid #222;
}

ion-col {
	color: #fff;
}

ion-badge {
	font-size: 1em;
	padding: 6px 16px;
	border-radius: 12px;
}
ion-badge[color="success"] {
	background: #43e36a !important;
	color: #111 !important;
}
ion-badge[color="warning"] {
	background: #fff200 !important;
	color: #111 !important;
}

ion-button[color="primary"] {
	--background: #43e36a;
	--color: #111;
	font-weight: bold;
}
ion-button[color="danger"] {
	--background: #e34343;
	--color: #fff;
	font-weight: bold;
}
ion-button[color="success"] {
	--background: #43e36a;
	--color: #111;
	font-weight: bold;
}

.vacio-centrado {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}
