<ion-header>
  <ion-toolbar color="primary" style="--background:#111;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard-usuario"></ion-back-button>
    </ion-buttons>
    <div class="app-logo" slot="start" style="margin-left:6px">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M12 2s4 1 5 4c0 0-3 .5-4 3 0 0 4 0 6 3 0 0-3 1-4 4 0 0 1-2-1-4-1s-2 1-4 1c0 0-1-3-4-4 0 0 3-2 6-3 0 0-1.5-3.5-4-4 0 0 3-1 5-1z" fill="currentColor" />
      </svg>
    </div>
    <ion-title style="color:#43e36a;">Lista de especies activas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="background:#111; color:#fff;">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list *ngIf="especies.length; else vacio">
          <ion-item *ngFor="let especie of especies">
            <ion-label>
              <h2>{{ especie.nombreComun }}</h2>
              <p>{{ especie.descripcion }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ng-template #vacio>
          <ion-text color="medium">No hay especies activas.</ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
